.characterSelector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 20%;
}

.bottom {
  background-color: red;
  position: fixed;
  bottom: 2%;
  left: 5%;
}

h1 {
  color: red;
  position: fixed;
  top: 0;
  left: 5%;
}

.pageOne{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: var(--pageWidth);
}

@property --pageWidth {
  width: 100%;
}